.quality{
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.quality .h1{
    margin: 0 1rem;
}
.qualitytxt{
    margin: 1rem;
    padding: 0.5rem;
    line-height: 1.2rem;
}
.cards{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cards1{
    height: 25rem;
    margin: 1.5rem;
    padding: 0.5rem;
    box-shadow: 0 40px 28px rgb(0,0,0,0.25),0 10px 10px rgb(0,0,0,0.22);
    transition: .4s;
    vertical-align: top;

}
.cards1 .h1{
    margin: 0.5rem;
    padding: 0.5rem;
}
.cards1 img{
    width: 100%;
    max-width: 30rem;
    height: 100%;
    max-height: 15rem;
    overflow: hidden;
    margin-left: 0;
}
.cards1 p{
    line-height: 1.2rem;
}
/* Responsive styles */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .cards1 {
        width: 80%; /* Adjust width for medium screens */
        margin: 1rem 0;
    }
}

@media (max-width: 480px) {
    .quality {
        margin: 1rem;
    }
    .qualitytxt {
        margin: 0.5rem;
        padding: 0.25rem;
        line-height: 1rem;
    }
    .cards1 {
        width: 100%; /* Adjust width for small screens */
        margin: 0.5rem 0;
    }
    .cards1 img {
        max-height: 10rem; /* Adjust image height for small screens */
    }
    .cards1 p {
        line-height: 1rem;
        font-size: 0.9rem; /* Adjust font size for small screens */
    }
}